<div ng-controller="AnimalController as vm">

    <h2>{{vm.message}}</h2>

    <button class="show-dog" ng-click="vm.showDog()">Show the Dog</button>
    <div class="dog" ng-show="vm.dogVisible">
        <img src="dog.jpg">
    </div>
    <h4>Our Dogs</h4>
    <input type="text" ng-model="dogName">

    <ul>
        <li ng-repeat="dog in vm.dogs | filter:dogName">
            {{dog}}
        </li>
    </ul>

</div>
